<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->

    <!-- BEGIN PAGE BAR -->

    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <!-- <h3 class="page-title"> Light Menu Menu
        <small>light mega menu option</small>
    </h3> -->
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Campaign List </span>
                    </div>
                    <!--<div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                        </div>
                    </div>-->
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn sbold green" onclick="location.href='newcampaign.html'"> Add New Campaign
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="sample_1">
                        <thead>
                            <tr>
                                <th> Campaign Name </th>
                                <th> Short Description </th>
                                <th> Start Date <br> (dd/mm/yyyy)</th>
                                <th> Expire Date <br> (dd/mm/yyyy)</th>
                                <th> Status </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Campaign 1 </td>
                                <td> Test Campaign 1 </td>
                                <td>
                                    01/03/2016
                                </td>
                                <td> 01/04/2016 </td>
                                <td>
                                    <span class="label label-sm label-success"> Active </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>
                                    Campaign 2 </td>
                                <td> Test Campaign 2 </td>
                                <td>
                                    01/04/2016
                                </td>
                                <td> 01/06/2016 </td>
                                <td>
                                    <span class="label label-sm label-warning"> Draft </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>
                                    Campaign 3 </td>
                                <td> Test Campaign 3 </td>
                                <td>
                                    01/02/2016
                                </td>
                                <td> 01/08/2016 </td>
                                <td>
                                    <span class="label label-sm label-success"> Active </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Redemption </span>
                    </div>
                    <!--<div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                        </div>
                    </div>-->
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn sbold green" onclick="location.href='newcampaign.html'"> Add New Redemption
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="sample_1">
                        <thead>
                            <tr>
                                <th> Campaign Name </th>
                                <th> Short Description </th>
                                <th> Start Date <br> (dd/mm/yyyy)</th>
                                <th> Expire Date <br> (dd/mm/yyyy)</th>
                                <th> Status </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Campaign 1 </td>
                                <td> Test Campaign 1 </td>
                                <td>
                                    01/03/2016
                                </td>
                                <td> 01/04/2016 </td>
                                <td>
                                    <span class="label label-sm label-success"> Active </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>
                                    Campaign 2 </td>
                                <td> Test Campaign 2 </td>
                                <td>
                                    01/04/2016
                                </td>
                                <td> 01/06/2016 </td>
                                <td>
                                    <span class="label label-sm label-warning"> Draft </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>
                                    Campaign 3 </td>
                                <td> Test Campaign 3 </td>
                                <td>
                                    01/02/2016
                                </td>
                                <td> 01/08/2016 </td>
                                <td>
                                    <span class="label label-sm label-success"> Active </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Poll & Questionaire </span>
                    </div>
                    <!--<div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                        </div>
                    </div>-->
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn sbold green" onclick="location.href='newcampaign.html'"> Add New Questionaire
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="sample_1">
                        <thead>
                            <tr>
                                <th> Campaign Name </th>
                                <th> Short Description </th>
                                <th> Start Date <br> (dd/mm/yyyy)</th>
                                <th> Expire Date <br> (dd/mm/yyyy)</th>
                                <th> Status </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Campaign 1 </td>
                                <td> Test Campaign 1 </td>
                                <td>
                                    01/03/2016
                                </td>
                                <td> 01/04/2016 </td>
                                <td>
                                    <span class="label label-sm label-success"> Active </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>
                                    Campaign 2 </td>
                                <td> Test Campaign 2 </td>
                                <td>
                                    01/04/2016
                                </td>
                                <td> 01/06/2016 </td>
                                <td>
                                    <span class="label label-sm label-warning"> Draft </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>
                                    Campaign 3 </td>
                                <td> Test Campaign 3 </td>
                                <td>
                                    01/02/2016
                                </td>
                                <td> 01/08/2016 </td>
                                <td>
                                    <span class="label label-sm label-success"> Active </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Hot Promotion </span>
                    </div>
                    <!--<div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                        </div>
                    </div>-->
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn sbold green" onclick="location.href='newcampaign.html'"> Add New Hot Promotion
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="sample_1">
                        <thead>
                            <tr>
                                <th> Campaign Name </th>
                                <th> Short Description </th>
                                <th> Start Date <br> (dd/mm/yyyy)</th>
                                <th> Expire Date <br> (dd/mm/yyyy)</th>
                                <th> Status </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Campaign 1 </td>
                                <td> Test Campaign 1 </td>
                                <td>
                                    01/03/2016
                                </td>
                                <td> 01/04/2016 </td>
                                <td>
                                    <span class="label label-sm label-success"> Active </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>
                                    Campaign 2 </td>
                                <td> Test Campaign 2 </td>
                                <td>
                                    01/04/2016
                                </td>
                                <td> 01/06/2016 </td>
                                <td>
                                    <span class="label label-sm label-warning"> Draft </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>
                                    Campaign 3 </td>
                                <td> Test Campaign 3 </td>
                                <td>
                                    01/02/2016
                                </td>
                                <td> 01/08/2016 </td>
                                <td>
                                    <span class="label label-sm label-success"> Active </span>
                                </td>
                                <td >
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-wrench"></i>
                                  </a>
                                  <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                    <i class="icon-trash"></i>
                                  </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
<!-- END CONTENT BODY -->